
<h1>hello, <%= @name%></h1>
<h2>Currently it is <%= formatted_time(@time) %></h2>
<p>This page has been called about <%= @times_requests %>, Please keep it to a minimum of 50 calles </p>

<p><%= link_to "Goodbye", greeter_bye_path %></p>
